body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 3vw;
}

.clickable {
  cursor: pointer;
}

.fa-heart {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

.fa-heart-o {
  color: #000000;
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}
